scenarios/**/*.pyc
scenarios/*/results/*
scenarios/*/.tkenvrc
scenarios/personal-experiments/*

src/artery/messages/*_m.cc
src/artery/messages/*_m.h
cmake-build*
.idea
scenarios/cars/core

build
debug
CMakeFiles
