scenarios/**/*.pyc
scenarios/*/results/Base/*.png
scenarios/*/results/Base/*.csv
scenarios/*/results/Base/*.txt
scenarios/*/results/Base/*.sca
scenarios/*/results/Base/*.vec
scenarios/*/.tkenvrc
scenarios/personal-*/

src/artery/messages/*_m.cc
src/artery/messages/*_m.h
cmake-build*
.idea
scenarios/cars/core

build
debug
CMakeFiles
