[submodule "scenario_mt-its2017"]
	path = scenarios/mt-its2017
	url = https://github.com/n7n788/mt-its2017.git
[submodule "extern/inet"]
	path = extern/inet
	url = https://github.com/n7n788/inet.git
	branch = artery-v3.6.3
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/n7n788/pybind11.git
	branch = stable
[submodule "extern/simulte"]
	path = extern/simulte
	url = https://github.com/n7n788/simulte.git
[submodule "extern/vanetza"]
	path = extern/vanetza
	url = https://github.com/n7n788/vanetza.git
[submodule "extern/veins"]
	path = extern/veins
	url = https://github.com/n7n788/veins.git
